.markdownPage {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: var(--medium-font-size);
}

.cardDate {
  margin: 0.5rem 0;
}

.headerTitle {
  color: var(--text-black);
}

.content {
  color: var(--text-black);
  font-size: var(--base-font-size);
  z-index: 1;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.6)
  );
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  padding: 1rem;
  border-radius: (--border-radius);
}

.content img {
  height: 300px;
  object-fit: contain;
  width: 100%;
  border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.content a {
  text-decoration: underline;
}

.content a:hover {
  font-style: italic;
}

.content p {
  margin-bottom: 0.5rem;
}

.content h2,
.content h3,
.content h4 {
  margin-bottom: 1rem;
}

.content pre {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: var(--bg-light);
}

.content code {
  font-size: var(--small-font-size);
  white-space: pre-wrap;
}

.content p code {
  font-size: var(--base-font-size);
  font-style: italic;
}

.imageWrapper {
  margin-right: 1.5rem;
  height: 150px;
  width: 200px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

/**
Breakpoints:
------------
sm: min-width: 640px; //small device
md: min-width: 768px; // medium device
lg: min-width: 1024px; // large device
xl: min-width: 1280px; // extra large device
2xl: min-width: 1536px; // 2 x extra large device
**/

@media screen and (min-width: 768px) {
  .content {
    padding: 2rem;
    font-size: var(--medium-font-size);
  }
  .isHomePageDisplay {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    font-size: var(--large-font-size);
  }
}
