/** By default, this is a mobile breakpoint **/
.container {
  position: relative;
  z-index: 2;
}

.title {
  letter-spacing: -0.025em;
  font-weight: 800;
  color: var(--text-black);
  font-size: 2rem;
  line-height: 1;
}

.title span {
  display: block;
}
.title span:nth-child(1) {
  color: var(--text-yellow);
}
.title span:nth-child(2) {
  color: var(--text-green);
}
.title span:nth-child(3) {
  color: var(--text-orange);
}
.title span:nth-child(4) {
  color: var(--text-white-100);
}

/** sm breakpoint **/
@media (min-width: 640px) {
  .title {
    font-size: 2rem;
    line-height: 1;
  }
}

/** md breakpoint **/
@media (min-width: 768px) {
  .title {
    font-size: 3.75rem /* 60px */;
    line-height: 1;
  }
}

/** lg breakpoint **/
@media (min-width: 1024px) {
  .container {
    text-align: left;
  }

  .title {
    font-size: 4.5rem /* 72px */;
    line-height: 1;
  }
}

/** xl breakpoint **/
@media (min-width: 1280px) {
  .title span {
    display: inline;
  }
}
