.footer {
  z-index: 1;
  width: 100%;
  padding: 0.5rem;
  color: var(--text-orange);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.copyRight {
  margin-top: 0.5rem;
  color: var(--text-white-100);
}

@media (min-width: 768px) {
  .footer {
    padding: 1rem 1.5rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--large-font-size);
    margin-bottom: 1rem;
  }
}

/** lg breakpoint **/
@media (min-width: 1280px) {
  .footer {
    padding: 0;
  }
}
