/** Mobile first development **/

.layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem /* 1152px */;
}

.main {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
}
