.socialContacts {
  display: flex;
}

.imageWrapper {
  margin-right: 0.25rem;
  width: 15px;
  height: 15px;
}

.socialContact {
  margin-right: 1rem;
  display: flex;
  align-items: baseline;
}

.socialContact:last-child {
  margin-right: 0;
}

/** lg breakpoint **/
@media (min-width: 1024px) {
  .socialContact {
    margin-right: 1.5rem;
  }
  .imageWrapper {
    width: 22px;
    height: 22px;
    margin-right: 0.25rem;
  }
}
