.aboutMe {
  display: flex;
  flex-direction: column;
}

.aboutMeTitle {
  display: inline;
  color: var(--text-white-100);
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 8px;
  border-radius: var(--border-radius);
  margin-bottom: 15px;
}

.profileShotWrapper {
  position: relative;
  margin: 0.5rem 0 1rem 0.5rem;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.rightContainer {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-black);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.6)
  );
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.textContainer {
  margin-bottom: 2rem;
}

.textContainer a {
  text-decoration: underline;
}

.textContainer a:hover {
  font-style: italic;
}

/**
Breakpoints:
------------
sm: min-width: 640px; //small device
md: min-width: 768px; // medium device
lg: min-width: 1024px; // large device
xl: min-width: 1280px; // extra large device
2xl: min-width: 1536px; // 2 x extra large device
**/

@media screen and (min-width: 1024px) {
  .aboutMe {
    flex-direction: row;
  }
  .textContainer {
    margin-bottom: 2rem;
  }
  .rightContainer {
    width: 80%;
    padding: 2rem;
    font-size: var(--medium-font-size);
    border-radius: var(--border-radius);
    z-index: 1;
  }
  .profileShotWrapper {
    height: auto;
    width: 20%;
    border-radius: none;
    overflow: visible;
    height: auto;
    float: none;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
  }
}
