.buttonWrapper {
  margin-top: 0.5rem;
  text-align: center;
}

.button {
  background-color: var(--text-orange);
  cursor: pointer;
  color: var(--bg-dark);
  outline: 0;
  border: 0px;
  padding-top: 0.5rem /* 16px */;
  padding-bottom: 0.5rem /* 16px */;
  font-size: 2rem;
  line-height: 1.75rem /* 28px */;
  padding-left: 2.5rem /* 40px */;
  padding-right: 2.5rem /* 40px */;
  width: 100%;
  transition: all 500ms ease;
}

.button:hover {
  background-color: var(--text-orange-dark);
}

/** sm breakpoint **/
@media (min-width: 640px) {
  .buttonWrapper {
    display: flex;
    margin-top: 2rem;
  }
}

/** md breakpoint **/
@media (min-width: 768px) {
  .button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
  }
}

/** lg breakpoint **/
@media (min-width: 1024px) {
  .buttonWrapper {
    justify-content: flex-end;
  }
  .button {
    max-width: 16rem;
  }
}
