.buttonWrapper {
  margin-top: 1.25rem;
  text-align: center;
}

.button {
  background-color: var(--text-orange);
  cursor: pointer;
  color: white;
  outline: 0;
  border: 0px;
  border-radius: var(--border-radius);

  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  padding-left: 2.5rem /* 40px */;
  padding-right: 2.5rem /* 40px */;
  width: 100%;
}

.button:hover {
  background-color: var(--text-orange);
}

/** sm breakpoint **/
@media (min-width: 640px) {
  .buttonWrapper {
    display: flex;
    margin-top: 2rem;
  }
}

/** md breakpoint **/
@media (min-width: 768px) {
  .button {
    padding-top: 1rem /* 16px */;
    padding-bottom: 1rem /* 16px */;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
  }
}

/** lg breakpoint **/
@media (min-width: 1024px) {
  .buttonWrapper {
    justify-content: flex-start;
  }
}
