.cardHeaderWrapper {
  margin-top: 0.75rem /* 12px */;
  margin-bottom: 0.75rem /* 12px */;
}

.card {
  justify-content: center;
  transition: all 400ms ease;
}
.card:hover {
  text-decoration: none;
  transform: translateY(-10px);
  box-shadow: var(--box-shadow-hover);
}

.cardHeader {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 800;
  overflow: hidden;
  width: 16rem /* 256px */;
}

.cardImageWrapper {
  color: var(--text-white-100);
}

.cardImage {
  border-radius: 0.75rem /* 12px */;
}

.cardDescription {
  min-height: 56px;
}

@media (min-width: 1024px) {
  .cardHeader {
    width: 16rem /* 256px */;
    font-size: var(--large-font-size);
  }
}

@media (min-width: 768px) {
  .cardHeader {
    width: 16rem /* 256px */;
  }
}
