.cardHeaderWrapper {
  margin-top: 0.75rem /* 12px */;
  margin-bottom: 0.75rem /* 12px */;
  color: var(--text-white-100);
}

.cardHeader {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75;
  font-weight: 800;
  overflow: hidden;
  width: 16rem /* 256px */;
}

.cardDate {
  margin: 0.5rem 0;
}

.card {
  height: 100%;
  margin: auto 0.4rem;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 350ms ease-out;
}

.cardImageWrapper {
  color: var(--text-white-100);
}

.cardImage {
  border-radius: 0.75rem /* 12px */;
}

.cardDescription {
  font-size: var(--base-font-size);
  margin-top: 0.5rem;
  min-height: 56px;
  color: var(--text-black);
}

@media (min-width: 1024px) {
  .card {
    align-items: center;
  }
  .cardHeader {
    width: 16rem /* 256px */;
    font-size: var(--medium-font-size);
  }
}

@media (min-width: 768px) {
  .card {
    border-radius: 6px;
    margin: 0;
  }
  .cardHeader {
    width: 16rem /* 256px */;
  }

  .card:hover {
    text-decoration: none;
    transform: translateY(-15px);
    box-shadow: var(--box-shadow-hover);
  }
}

@media (min-width: 1028px) {
  .card {
    padding-top: 1.8rem;
  }
  .card:hover {
    box-shadow: none;
  }
  .cardHeader {
    font-size: 2rem;
  }
  .card p {
    color: var(--text-white);
    text-shadow: -2px 2px 1px rgb(0 0 0 / 25%);
  }
}
