.cardHeaderWrapper {
  margin-top: 0.75rem /* 12px */;
  margin-bottom: 0.75rem /* 12px */;
  color: var(--text-white-100);
}

.cardHeader {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 800;
  overflow: hidden;
  width: 16rem /* 256px */;
}

.cardDate {
  margin: 0.5rem 0;
}

.card {
  justify-content: center;
  transition: all 350ms ease-out;
}

.cardImageWrapper {
  color: var(--text-white-100);
}

.cardImage {
  border-radius: 0.75rem /* 12px */;
}

.cardDescription {
  font-size: var(--base-font-size);
  margin-top: 0.5rem;
  min-height: 56px;
  color: var(--text-black);
}

@media (min-width: 1024px) {
  .cardHeader {
    width: 16rem /* 256px */;
    font-size: var(--medium-font-size);
  }
}

@media (min-width: 768px) {
  .cardHeader {
    width: 16rem /* 256px */;
  }

  .card:hover {
    text-decoration: none;
    transform: translateY(-15px);
    box-shadow: var(--box-shadow-hover);
  }
}
