.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  z-index: 1;
}

.navHeader {
  opacity: 1;
  color: white;
  font-size: 1.2rem;
}

.navItem {
  font-size: 1rem;
  margin-right: 1rem;
}

.navItem:last-of-type {
  margin-right: 0;
}
