.header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-bottom: 0;
  z-index: 1;
}

.navHeader {
  opacity: 1;
  color: white;
  font-size: 1.2rem;
  display: inline;
}

.navItem {
  font-size: 1rem;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.navItem:last-of-type {
  margin-right: 0;
}

/** Breakpoints:
  sm: min-width: 640px;
**/

@media (min-width: 640px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
