.header {
  padding: 0.5rem;
  padding-bottom: 0;
  z-index: 1;
}

.navHeader {
  opacity: 1;
  font-size: 1.2rem;
  display: inline;
  cursor: pointer;
}

.navContainer {
  display: flex;
  justify-content: space-between;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  text-shadow: -4px 4px 1px rgba(0, 0, 0, 0.2);
}
.navItem:last-of-type {
  margin-right: 0;
}

.navLink {
  font-size: var(--large-font-size);
  white-space: nowrap;
  color: var(--text-white-100);
  cursor: pointer;
}

/**
Breakpoints:
------------
sm: min-width: 640px; //small device
md: min-width: 768px; // medium device
lg: min-width: 1024px; // large device
xl: min-width: 1280px; // extra large device
2xl: min-width: 1536px; // 2 x extra large device
**/

@media (min-width: 768px) {
  .header {
    padding-top: 2rem;
  }
  .navContainer {
    justify-content: center;
  }

  .navItem {
    margin-right: 2rem;
  }
  .navItem a {
    font-size: var(--large-font-size);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 1rem 0;
  }
  .navItem a {
    font-size: 3rem;
  }

  .navItem a:hover,
  .navItem a:active {
    color: var(--text-orange);
  }

  .navItem {
    margin-right: 3rem;
  }
  .navItem:last-of-type {
    margin-right: 0;
  }
}
